<div #highlightStageContainer [ngClass]="moveHighlightStageToTop ? 'highlight-stage-top' : ''"
     class="highlight-stage-container"></div>
<div class="sidebar-wrapper">
  <div class="button-wrapper">
    <button class="threats-button"
            (click)="toggleThreatElementView('securityThreats')"
            [ngClass]="activeTab === 'securityThreats' ? 'button-clicked' : ''">
      STRIDE
    </button>
    <button class="cwe-threats-button"
            (click)="toggleThreatElementView('cweThreats')"
            [ngClass]="activeTab === 'cweThreats' ? 'button-clicked' : ''">
      CWE
    </button>
    <button class="vulnerability-button"
            (click)="toggleThreatElementView('vulnerabilities')"
            [ngClass]="activeTab === 'vulnerabilities' ? 'button-clicked' : ''">
      CVE
    </button>
  </div>
  <app-threat-filter *ngIf="activeTab === 'securityThreats' && foundStrideThreats.length > 1"
                     [threats]="foundStrideThreats"
                     (updatedThreats)="updatedDisplayedThreats($event)"></app-threat-filter>
  <app-cve-filter *ngIf="activeTab === 'vulnerabilities' && foundCVEs.length > 1"
                  [vulnerabilities]="foundCVEs"
                  (updatedCVEs)="updatedDisplayedCVEs($event)"></app-cve-filter>
  <perfect-scrollbar style="max-width: 100%; max-height: 92%;" class="perfect-scrollbar">

    <div class="nothing-found" *ngIf="activeTab === 'securityThreats' && foundStrideThreats.length < 1">
      No security threats found.
    </div>
    <div class="nothing-found" *ngIf="activeTab === 'cweThreats' && foundCweThreats.length < 1">
      No CWE threats found.
    </div>
    <div class="nothing-found" *ngIf="activeTab === 'vulnerabilities' && foundCVEs.length < 1">
      No vulnerabilities found.
    </div>

    <div class="weakness-wrapper">
      <div *ngFor="let threat of displayedStrideThreats; let i = index; trackBy: trackThreatsByFn">
        <app-threat
          *ngIf="activeTab === 'securityThreats'"
          [threatData]="threat"
          [index]="i"
          (threatSelected)="selectSecurityThreat($event)"
          (priorityUpdated)="setThreatPriority($event)"
          (applicableStateUpdated)="setThreatApplicableState($event)">
        </app-threat>
      </div>
      <div *ngFor="let cwe of displayedCweThreats; let j = index; trackBy: trackCweByFn">
        <app-cwe
          *ngIf="activeTab === 'cweThreats'"
          [cweData]="cwe"
          [index]="j"
          (threatSelected)="selectCweThreat($event)">
        </app-cwe>
      </div>
      <div *ngFor="let cve of displayedVulnerabilities; let n = index; trackBy: trackCVEsByFn">
        <app-cve
          *ngIf="activeTab === 'vulnerabilities'"
          [cveData]="cve"
          [index]="n"
          (cveSelected)="selectVulnerability($event)">
        </app-cve>
      </div>
    </div>
  </perfect-scrollbar>
</div>
