<div #highlightStageContainer [ngClass]="moveHighlightStageToTop ? 'highlight-stage-top' : ''"
     class="highlight-stage-container"></div>
<div class="sidebar-wrapper">
  <div class="button-wrapper">
    <button class="threats-button"
            (click)="toggleThreatElementView('securityThreats')"
            [ngClass]="activeTab === 'securityThreats' ? 'button-clicked' : ''">
      Threats
    </button>
    <button class="threats-button"
            (click)="toggleThreatElementView('privacyThreats')"
            [ngClass]="activeTab === 'privacyThreats' ? 'button-clicked' : ''" hidden>
      Privacy
    </button>
    <button class="vulnerability-button"
            (click)="toggleThreatElementView('vulnerabilities')"
            [ngClass]="activeTab === 'vulnerabilities' ? 'button-clicked' : ''">
      Vulnerabilities
    </button>
  </div>
  <app-threat-filter *ngIf="activeTab === 'securityThreats' && foundSecurityThreats.length > 1"
                     [threats]="foundSecurityThreats"
                     (updatedThreats)="updatedDisplayedThreats($event)"></app-threat-filter>
  <app-threat-filter *ngIf="activeTab === 'privacyThreats' && foundPrivacyThreats.length > 1"
                     [threats]="foundPrivacyThreats"
                     (updatedThreats)="updatedDisplayedThreats($event)" hidden></app-threat-filter>
  <app-cve-filter *ngIf="activeTab === 'vulnerabilities' && foundCVEs.length > 1"
                  [vulnerabilities]="foundCVEs"
                  (updatedCVEs)="updatedDisplayedCVEs($event)"></app-cve-filter>
  <perfect-scrollbar style="max-width: 100%; max-height: 92%;" class="perfect-scrollbar">

    <div class="nothing-found" *ngIf="activeTab === 'securityThreats' && foundSecurityThreats.length < 1">
      No security threats found.
    </div>
    <div class="nothing-found" *ngIf="activeTab === 'privacyThreats' && foundPrivacyThreats.length < 1">
      No privacy threats found.
    </div>
    <div class="nothing-found" *ngIf="activeTab === 'vulnerabilities' && foundSecurityThreats.length < 1">
      No vulnerabilities found.
    </div>

    <div class="weakness-wrapper">
      <div *ngFor="let threat of displayedSecurityThreats; let i = index; trackBy: trackThreatsByFn">
        <app-threat
          *ngIf="activeTab === 'securityThreats'"
          [threatData]="threat"
          [index]="i"
          (threatSelected)="selectSecurityThreat($event)"
          (priorityUpdated)="setThreatPriority($event)"
          (applicableStateUpdated)="setThreatApplicableState($event)">
        </app-threat>
      </div>
      <div *ngFor="let threat of displayedPrivacyThreats; let i = index; trackBy: trackThreatsByFn">
        <app-threat
          *ngIf="activeTab === 'privacyThreats'"
          [threatData]="threat"
          [index]="i"
          (threatSelected)="selectPrivacyThreat($event)"
          (priorityUpdated)="setThreatPriority($event)"
          (applicableStateUpdated)="setThreatApplicableState($event)">
        </app-threat>
      </div>
      <div *ngFor="let cve of displayedVulnerabilities; let n = index; trackBy: trackCVEsByFn">
        <app-cve
          *ngIf="activeTab === 'vulnerabilities'"
          [cveData]="cve"
          [index]="n"
          (cveSelected)="selectVulnerability($event)">
        </app-cve>
      </div>
    </div>
  </perfect-scrollbar>
</div>
