@import "../../theme/variables";
@import "../../theme/general";
@import "../../theme/styles/recurring-elements/scrollbar";
@import "../../theme/styles/slider";

.sidebar-wrapper {
  z-index: $sidebar-z-index;
  position: absolute;
  height: 94vh;
  width: $threat-sidebar-width;
  top: 6vh;
  right: 0;
  background-color: var(--theme-top-toolbar-background);
  box-shadow: 26px 0 18px 26px rgba(0, 0, 0, 0.75);

  .button-wrapper {
    margin: 2vmin auto 2vmin auto;
    height: 5vmin;

    .threats-button, .vulnerability-button, .cwe-threats-button {
      cursor: pointer;
      border-radius: $border-radius;
      background-color: var(--theme-light-gray-background);
      font-size: $threat-sidebar-width * 0.05;
      color: var(--theme-button-active);
      border: 0;
      height: 100%;
      width: $threat-sidebar-width * 0.28;
    }

    .threats-button {
      margin: 0 $threat-sidebar-width * 0.02 0 $threat-sidebar-width * 0.04;
    }

    .vulnerability-button {
      margin: 0 $threat-sidebar-width * 0.04 0 $threat-sidebar-width * 0.02;
    }

    button:hover {
      background-color: var(--theme-button-unfolded);
      color: var(--theme-top-toolbar-background) !important;
    }

    .button-clicked {
      background-color: var(--theme-button-active) !important;
      color: var(--theme-top-toolbar-background) !important;
    }
  }

  .nothing-found {
    text-align: center;
    font-size: 2vmin;
    margin: 50% 1.5vw;
    color: var(--theme-button-unfolded);
  }

  .weakness-wrapper {
    margin: 1vmin 1vmin;
  }
}

.highlight-stage-container {
  position: absolute;
  height: 94vh;
  width: 94vw;
  top: 6vh;
  left: 0;
  z-index: $highlight-stage-default;
}

.highlight-stage-top {
  z-index: $above-drawing-stage-z-index !important;
}
