@import "../../theme/variables";
@import "../../theme/general";

.profile-wrapper {
  width: 100vw;
  height: 94vh;
  margin-top: 6vh;
  background: $main-background;
  z-index: $above-drawing-stage-z-index;
}
