<div class="wrapper">
  <perfect-scrollbar class="perfect-scrollbar" style="max-width: 95vmin; max-height: 98%;">
    <div class="row">
      <span>Toggle {{getSelectableThemeName()}}</span>
      <mat-slide-toggle (change)="toggleTheme()"
            class="settings-slide-toggle"
            title="Toggle Light/Dark themme"
            checked={{userSettings.darktheme}}>
      </mat-slide-toggle>
    </div>
  <button (click)="saveSettings()"
          class="settings-button"
          title="Save user settings">
  Save settings permanently</button>
  </perfect-scrollbar>
</div>
