// TOOLBAR TOP
$toolbar-top-height: 6vh;
$toolbar-top-name-element-height: $toolbar-top-height / 2;
$toolbar-top-name-element-spacing: $toolbar-top-height / 4;
$toolbar-top-button-wrapper-margin: $toolbar-top-height / 6;
$toolbar-top-button-size: $toolbar-top-height / 6 * 4;

// TOOLBAR LEFT
$toolbar-left-width: 6vw;
$toolbar-left-button-margin-left: $toolbar-left-width / 6;
$toolbar-left-button-wrapper-margin: 2vh $toolbar-left-button-margin-left;
;
$toolbar-left-button-size: $toolbar-left-button-margin-left * 4;





