<div class="alert-wrapper">
  <app-delete-model-alert
    *ngIf="modelDeleteAlert"
    [modelDeleteAlert]="modelDeleteAlert"
    (delete)="deleteModel($event)"
    (cancel)="close()"></app-delete-model-alert>
  <app-delete-project-alert
    *ngIf="projectDeleteAlert"
    [projectDeleteAlert]="projectDeleteAlert"
    (delete)="deleteProject($event)"
    (cancel)="close()"></app-delete-project-alert>
  <app-delete-element-alert
    *ngIf="deleteElementAlert"
    [deleteElementAlert]="deleteElementAlert"
    (delete)="deleteElements()"
    (cancel)="close()"></app-delete-element-alert>
  <app-leaving-workarea-alert
    *ngIf="leaveWorkSpaceAlert"
    (leave)="leave()"
    (cancel)="close()"></app-leaving-workarea-alert>
  <app-new-model-alert
    *ngIf="newModelAlert"
    (reset)="newModel()"
    (cancel)="close()"></app-new-model-alert>
  <app-sign-out-alert
    *ngIf="signOutAlert"
    (signOut)="signOut()"
    (cancel)="close()"></app-sign-out-alert>
  <app-load-model-alert
    *ngIf="loadModelAlert"
    [model]="loadModelAlert"
    (load)="loadModel($event)"
    (cancel)="close()"></app-load-model-alert>
  <app-unlink-model-alert
    *ngIf="unlinkModelAlert"
    [unlinkModelAlert]="unlinkModelAlert"
    (unlink)="unlinkModel($event)"
    (cancel)="close()"></app-unlink-model-alert>
  <app-join-project-alert
    *ngIf="joinProjectAlert"
    [joinProjectAlert]="joinProjectAlert"
    (join)="joinProject($event)"
    (cancel)="close()"></app-join-project-alert>
  <app-decline-invitation-alert
    *ngIf="declineInvitationAlert"
    [declineInvitationAlert]="declineInvitationAlert"
    (decline)="declineInvitation($event)"
    (cancel)="close()"></app-decline-invitation-alert>
  <app-leave-project-alert
    *ngIf="leaveProjectAlert"
    [leaveProjectAlert]="leaveProjectAlert"
    (leave)="leaveProject($event)"
    (cancel)="close()"></app-leave-project-alert>
</div>
