@import "../../variables";
@import "../../general";

.collapsible {
  margin-top: 1.5vmin;

  .toggle-button {
    padding-left: 2vmin;
    text-align: left;
    height: 6vmin;
    font-size: 1.8vmin;
    width: 100%;
    border: 0;
    cursor: pointer;
    border-radius: $border-radius;
    color: $button-active;
    background: $light-gray-background;
  }

  .toggle-button:hover {
    color: $sidebar-background;
  }

  .dropdown-toggled {
    border-radius: $border-radius $border-radius 0 0;
    background-color: $button-active;
    color: $top-toolbar-background;
  }

  .dropdown-data {
    background-color: $button-unfolded-darkened;
    border-radius: 0 0 $border-radius $border-radius;

    p {
      font-size: 1.5vmin;
      line-break: normal;
      margin: 0;
      color: $top-toolbar-background;
    }

    span {
      font-weight: bold;
    }
  }
}
