@import "../../variables";
@import "../../general";

.collapsible {
  margin-top: 1.5vmin;

  .toggle-button {
    padding-left: 2vmin;
    text-align: left;
    height: 6vmin;
    font-size: 1.8vmin;
    width: 100%;
    border: 0;
    cursor: pointer;
    border-radius: $border-radius;
    color: var(--theme-button-active);
    background: var(--theme-light-gray-background);
  }

  .toggle-button:hover {
    color: var(--theme-sidebar-background);
  }

  .dropdown-toggled {
    border-radius: $border-radius $border-radius 0 0;
    background-color: var(--theme-button-active);
    color: var(--theme-top-toolbar-background);
  }

  .dropdown-data {
    background-color: var(--theme-button-unfolded)-darkened;
    border-radius: 0 0 $border-radius $border-radius;

    p {
      font-size: 1.5vmin;
      line-break: normal;
      margin: 0;
      color: var(--theme-top-toolbar-background);
    }

    span {
      font-weight: bold;
    }
  }
}
