@import "../../variables";

textarea {
  margin-top: $element-spacing * 3;
  padding: $element-spacing;
  border-radius: $border-radius;
  background-color: var(--theme-popup-button-background);
  color: var(--theme-text-color);;
  width: 100%;
  text-align: center;
  font-size: 1.7vmin;
  border: 0;
  box-sizing: border-box;
  resize: none;
}
