<div [ngClass]="feedbackSent ? 'success' : ''" class="feedback-wrapper">
  <div *ngIf="!feedbackSent">
    <div class="general">
      <p class="title">Contact
        <app-spinner-small *ngIf="currentlySubmitting" marginTop="1"
                           style="position: absolute; top: 3.6vmin;"></app-spinner-small>
      </p>
      <p class="text">We would love to hear your thoughts or if you have encountered any problems!</p>
      <p class="info">If you don't want to be contacted, just leave the email field blank.</p>
    </div>
    <div class="select-option">
      <select [(ngModel)]="feedbackType" id="feedback-type" name="feedback-type">
        <option value="Feedback">Feedback</option>
        <option value="Bug">Bug</option>
        <option value="Suggestion">Suggestion</option>
        <option value="Question">Question</option>
        <option value="Feature Request">Feature Request</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="select-option">
      <input [(ngModel)]="mail"
             id="mail"
             maxlength="50"
             name="mailAddress"
             placeholder="Enter Contact Mail..."
             type="text">
    </div>
    <div class="text-area">
      <textarea [(ngModel)]="feedbackContent" cols="50" maxlength="500" placeholder="What's on your mind?"
                rows="4"></textarea>
    </div>
    <div class="button-wrapper">
      <button (click)="submitFeedback()" [disabled]="feedbackContent.length < 5">Submit Feedback</button>
    </div>
  </div>
  <div class="feedback-sent">
    <p>Your feedback has been submitted, thanks!</p><br>
    <p *ngIf="contactWanted" class="notify">We will get back to you.</p>
  </div>
  <button (click)="closeModal()" class="close-button">
    <img alt="close" src="../../../assets/cancel.svg">
  </button>
</div>
